@model HomePageViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@using UITManagerWebServer.Helpers
@using UITManagerWebServer.Models.ModelsView
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
<div class="d-flex justify-content-between align-items-center mb-2">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="row text-center">
                <div class="col-md-4 mb-2">
                    <div class="card shadow-sm border-0 rounded">
                        <div class="card-body p-2">
                            <p class="card-title mb-2">Machines with Alarms Triggered</p>
                            <p class="fs-4">
                                <a asp-action="Index"
                                   asp-controller="Machine"
                                   class="badge bg-@(Model.MachinesWithActiveAlarms == 0 ? "success" : "primary")"
                                   asp-route-Filter="alarm_triggered">
                                    @Model.MachinesWithActiveAlarms / @Model.TotalMachines
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="card shadow-sm border-0 rounded">
                        <div class="card-body p-2">
                            <p class="card-title mb-2">Unresolved Alarms</p>
                            <p class="fs-4">
                                <a asp-action="Index" asp-controller="Alarm"
                                   class="badge bg-@((Model.AlarmsNotResolvedCount == 0) ? "success" : "primary")">
                                    @Model.AlarmsNotResolvedCount
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="card shadow-sm border-0 rounded">
                        <div class="card-body p-2">
                            <p class="card-title mb-2">Alarms Triggered Today</p>
                            <p class="fs-4">
                                <a asp-action="Index"
                                   asp-controller="Alarm"
                                   class="badge bg-@((Model.AlarmsTriggeredTodayCount == 0) ? "success" : "primary")"
                                   asp-route-sortOrder="triggered_today">
                                    @Model.AlarmsTriggeredTodayCount
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <ul class="nav nav-tabs" id="alarmTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a asp-controller="Home" asp-action="Index"
                       asp-route-tab="unprocessed"
                       asp-route-sortOrder="@ViewData["SortOrder"]"
                       asp-route-SolutionFilter="@ViewData["SolutionFilter"]"
                       asp-route-AuthorFilter="@ViewData["AuthorFilter"]"
                       asp-route-SortOrderNote="@ViewData["SortOrderNote"]"
                       class="nav-link @(Model.ActiveTab == "unprocessed" ? "active" : "") @ViewHelpers.GetPointerEvent(Model.ActiveTab, "unprocessed")"
                      >
                        Unprocessed Alarms
                    </a>
                </li>

                <li class="nav-item" role="presentation">
                    <a asp-controller="Home" asp-action="Index"
                       asp-route-tab="newest"
                       asp-route-sortOrder="@ViewData["SortOrder"]"
                       asp-route-SolutionFilter="@ViewData["SolutionFilter"]"
                       asp-route-AuthorFilter="@ViewData["AuthorFilter"]"
                       asp-route-SortOrderNote="@ViewData["SortOrderNote"]"
                       class="nav-link @(Model.ActiveTab == "newest" ? "active" : "") @ViewHelpers.GetPointerEvent(Model.ActiveTab, "newest")"
                       >
                        Newest Alarms
                    </a>
                </li>

                <li class="nav-item" role="presentation">
                    <a asp-controller="Home" asp-action="Index"
                       asp-route-tab="overdue"
                       asp-route-sortOrder="@ViewData["SortOrder"]"
                       asp-route-SolutionFilter="@ViewData["SolutionFilter"]"
                       asp-route-AuthorFilter="@ViewData["AuthorFilter"]"
                       asp-route-SortOrderNote="@ViewData["SortOrderNote"]"
                       class="nav-link @(Model.ActiveTab == "overdue" ? "active" : "") @ViewHelpers.GetPointerEvent(Model.ActiveTab, "overdue")">
                        Alarms Exceeding Estimated Processing Time
                    </a>
                </li>

            </ul>

            <div id="alarmTabsContent">
                @await Html.PartialAsync("_AlarmsList", Model.Alarms, ViewData)
            </div>
            @await Html.PartialAsync("_AlarmDistributionBySiteAndSeverity",
                ViewData["AlarmCountsBySiteAndSeverity"] != null
                    ? JsonConvert.DeserializeObject<Dictionary<string, Dictionary<string, double>>>(ViewData["AlarmCountsBySiteAndSeverity"].ToString())
                    : new Dictionary<string, Dictionary<string, double>>())
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 p-0">
                    @Html.Partial("_ChartAlarmDistributionBySeverity")
                </div>
                <div class="col-md-6 p-0">
                    @Html.Partial("_ChartAlarmDistributionByAssignment")
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title mb-4 d-flex justify-content-between align-items-center">
                            <span>Notes
                                <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                        data-bs-target="#notesModal">
                                    <i class="bi bi-info-circle"></i>
                                </button>
                            </span>
                            <form method="get"
                                  class="d-flex flex-wrap gap-3 p-3 align-items-center justify-content-start"
                                  asp-action="Index">

                                <input type="hidden" name="tab" value="@Model.ActiveTab"/>
                                <input type="hidden" name="sortOrder" value="@ViewData["SortOrder"]?.ToString()"/>
                                <div class="d-flex ms-auto flex-wrap">
                                    <div class="d-flex align-items-center text-muted fs-6 margin-right">
                                        <span>Filter</span>
                                        <span class="ms-1">by</span>
                                    </div>

                                    <!-- Solution Filter Dropdown -->
                                    <div class="dropdown me-2 mb-2 mb-md-0">
                                        <select asp-for="@ViewData["SolutionFilter"]" name="SolutionFilter"
                                                class="form-select form-select-sm dropdownElement">
                                            <option value="" disabled selected>Type</option>
                                            <option value="">All</option>
                                            <option value="true">Solution</option>
                                            <option value="false">Follow-up</option>
                                        </select>
                                    </div>

                                    <!-- Author Filter Dropdown -->
                                    <div class="dropdown me-2 mb-2 mb-md-0">
                                        <select asp-for="@ViewData["AuthorFilter"]" name="AuthorFilter"
                                                class="form-select form-select-sm dropdownElement">
                                            <option value="" disabled selected>Author</option>
                                            <option value="">All Authors</option>
                                            @foreach (var author in ViewBag.Authors)
                                            {
                                                <option value="@author.Id">
                                                    @author.LastName @author.FirstName
                                                </option>
                                            }
                                        </select>
                                    </div>

                                    <!-- Sort Order Dropdown -->
                                    <div class="dropdown me-2 mb-2 mb-md-0">
                                        <select asp-for="@ViewData["SortOrderNote"]" name="SortOrderNote"
                                                class="form-select form-select-sm dropdownElement">
                                            <option value="" disabled selected>Date</option>
                                            <option value="ndate">Newest First</option>
                                            <option value="ndate_desc">Oldest First</option>
                                        </select>
                                    </div>

                                    <div class="d-flex gap-2">
                                        <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                                        <a asp-action="Index"
                                           asp-route-sortOrder="@ViewData["SortOrder"]"
                                           asp-route-tab="@ViewData["ActiveTab"]"
                                           asp-route-solutionFilter=""
                                           asp-route-authorFilter=""
                                           asp-route-sortOrderNote=""
                                           class="btn btn-secondary btn-sm text-center">Reset</a>
                                    </div>
                                </div>
                            </form>

                        </h5>
                        @await Html.PartialAsync("_NotesList", Model.Notes)
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Modals")
    </div>
</div>
</div>