@model IEnumerable<UITManagerWebServer.Controllers.InventoryController.MachineViewModel>

@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions {

    string GetHeaderClass(string currentSortOrder, string column)
    {
        if (currentSortOrder == column || currentSortOrder == $"{column}_desc")
        {
            return "bg-selected-header";
        }

        return string.Empty;
    }

    string GetSortIcon(string currentSortOrder, string column)
    {
        if (currentSortOrder == column)
        {
            return "bi bi-sort-down";
        }

        return currentSortOrder == $"{column}_desc" ? "bi bi-sort-up" : "bi bi-arrow-down-up";
    }

}

<div class="container-fluid py-5 px-4" style="max-width: 1700px; overflow-y: auto;">
    <div class="row mb-4 fixed">
        <div class="col-lg-12">
            <h1 class="h2 fw-bold me-3">Inventory</h1>
        </div>

        <div class="d-flex justify-content-between ">
            <div class=" align-items-center">
                <div class="input-group" style="max-width: 400px;">
                    <div class="form-outline" data-mdb-input-init>
                        <input type="search" id="searchBoxInventory" class="form-control"
                               placeholder="Search..." onkeyup="searchInInventory()"/>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center">
                <span class="me-2 text-muted">Filtered by</span>
                <form method="get" action="@Url.Action("Index")" class="d-flex align-items-center">
                    <select asp-for="@ViewData["StatusFilter"]" name="statusFilter"
                            class="form-select form-control-sm">
                        <option value="">All</option>
                        <option value="true">Working</option>
                        <option value="false">Not Working</option>
                    </select>

                    <button type="submit" class="btn btn-primary btn-sm ms-2">Filter</button>
                    <a href="@Url.Action("Index")" class="btn btn-secondary btn-sm ms-2">Reset</a>
                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body">
                    <div>
                        <div class="table-responsive" style="overflow-x: auto; max-height: 600px;">
                            <table class="table table-hover table-striped align-middle" id ="inventoryTable">
                                <thead class="table-lightfix sticky-top bg-white">
                                <tr>
                                    <th class="@GetHeaderClass(ViewData["SortOrder"]?.ToString(), "Machine")">
                                        <div class="d-flex align-items-center">
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["MachineSortParam"]"
                                               class="text-decoration-none text-dark">
                                                Host <i
                                                    class="@GetSortIcon(ViewData["SortOrder"]?.ToString(), "Machine")">&emsp;</i>
                                            </a>
                                        </div>
                                    </th>

                                    <th class="@GetHeaderClass(ViewData["SortOrder"]?.ToString(), "LastSeen")">
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["LastSeenSortParam"]"
                                           class="text-decoration-none text-dark">
                                            Last Seen <i
                                                class="@GetSortIcon(ViewData["SortOrder"]?.ToString(), "LastSeen")"></i>
                                        </a>
                                    </th>

                                    <th class="@GetHeaderClass(ViewData["SortOrder"]?.ToString(), "Os")">
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["OsSortParam"]"
                                           class="text-decoration-none text-dark">
                                            OS <i class="@GetSortIcon(ViewData["SortOrder"]?.ToString(), "Os")"></i>
                                        </a>
                                    </th>

                                    <th class="@GetHeaderClass(ViewData["SortOrder"]?.ToString(), "Build")">
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["BuildSortParam"]"
                                           class="text-decoration-none text-dark">
                                            Build <i
                                                class="@GetSortIcon(ViewData["SortOrder"]?.ToString(), "Build")"></i>
                                        </a>
                                    </th>

                                    <th class="@GetHeaderClass(ViewData["SortOrder"]?.ToString(), "ServiceTag")">
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["ServiceTagSortParam"]"
                                           class="text-decoration-none text-dark">
                                            Service Tag <i
                                                class="@GetSortIcon(ViewData["SortOrder"]?.ToString(), "ServiceTag")"></i>
                                        </a>
                                    </th>

                                    <th class="@GetHeaderClass(ViewData["SortOrder"]?.ToString(), "Status")">
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParam"]"
                                           class="text-decoration-none text-dark">
                                            Status <i
                                                class="@GetSortIcon(ViewData["SortOrder"]?.ToString(), "Status")"></i>
                                        </a>
                                    </th>

                                    <th class="@GetHeaderClass(ViewData["SortOrder"]?.ToString(), "NoteCount")">
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NoteCountSortParam"]"
                                           class="text-decoration-none text-dark">
                                            Notes <i
                                                class="@GetSortIcon(ViewData["SortOrder"]?.ToString(), "NoteCount")"></i>
                                        </a>
                                    </th>

                                    <th class="@GetHeaderClass(ViewData["SortOrder"]?.ToString(), "LastNote")">
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNoteSortParam"]"
                                           class="text-decoration-none text-dark">
                                            Last Note <i
                                                class="@GetSortIcon(ViewData["SortOrder"]?.ToString(), "LastNote")"></i>
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (!Model.Any())
                                {
                                    <div class="list-group-item text-center">
                                        <div class="alert alert-secondary" role="alert">
                                            No machines found
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-controller="Machine" asp-action="Details"
                                                   asp-route-id="@item.Id"
                                                   class="text-primary text-decoration-none">
                                                    @(string.IsNullOrEmpty(item.Name) ? "N/A" : item.Name)
                                                </a>
                                            </td>

                                            <td class="text-secondary">
                                                @(string.IsNullOrEmpty(item.GetLastSeen()) ? "N/A" : item.GetLastSeen())
                                            </td>

                                            <td class="text-secondary">
                                                @(string.IsNullOrEmpty(item.Os) ? "N/A" : item.Os)
                                            </td>

                                            <td class="text-secondary">
                                                @(string.IsNullOrEmpty(item.Build) ? "N/A" : item.Build)
                                            </td>

                                            <td class="text-secondary">
                                                @(string.IsNullOrEmpty(item.ServiceTag) ? "N/A" : item.ServiceTag)
                                            </td>

                                            <td class="@((item.IsWorking) ? "text-success" : "text-danger")">
                                                @(item.IsWorking ? "Working" : "Not working")
                                            </td>

                                            <td class="text-secondary">
                                                <div class="d-flex align-items-center">
                                                    <a asp-controller="Notes" asp-action="Index" 
                                                       asp-route-search="@item.Name"
                                                       class="text-primary text-decoration-none">
                                                        @item.NoteCount
                                                    </a>
                                                    <a asp-controller="Notes" asp-action="Create"
                                                       asp-route-id="@item.Id"
                                                       class="ms-auto me-4 text-primary text-decoration-none">
                                                        <i class="bi bi-file-plus"></i>
                                                    </a>
                                                </div>
                                            </td>

                                            <td class="text-secondary">
                                                @if (item.NoteCount != 0)
                                                {
                                                    <a asp-controller="Notes" asp-action="Details"
                                                       asp-route-id="@item.LastNote.Id"
                                                       class="text-primary text-decoration-none"
                                                       style="max-width: 200px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                        @(string.IsNullOrEmpty(item.LastNote.Content) ? "N/A" : item.LastNote.Content)
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span>No notes written</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>