@model UITManagerWebServer.Models.Alarm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Alarm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TriggeredAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TriggeredAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Machine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Machine.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormGroup.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
