@using UITManagerWebServer.Helpers
@model List<Note>

<div class="card border-0 rounded mb-0 p-1">
    <div class="card-header fw-bold d-flex justify-content-between align-items-center mb-1 height">
        <span>Notes</span>
    </div>
    <div class="card-body m-0 p-1">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <form method="get" class="d-flex gap-3 align-items-center" asp-action="Details">
                <input type="hidden" name="sortOrder" value="@ViewData["SortOrder"]?.ToString()"/>
                <div class="d-flex align-items-center">
                    <div class="dropdown">
                        <select asp-for="@ViewData["SolutionFilter"]" name="SolutionFilter" class="form-select form-select-sm">
                            <option value="" disabled selected>Type</option>
                            <option value="">All</option>
                            <option value="true">Solution</option>
                            <option value="false">Follow-up</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="dropdown dropdownElement" >
                        <select asp-for="@ViewData["AuthorFilter"]" name="AuthorFilter" class="form-select form-select-sm">
                            <option value="" disabled selected>Author</option>
                            <option value="">All Authors</option>
                            @foreach (var author in ViewBag.Authors)
                            {
                                <option value="@author.Id">
                                    @author.LastName @author.FirstName
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="dropdown">
                        <select asp-for="@ViewData["SortOrderNote"]" name="SortOrderNote" class="form-select form-select-sm">
                            <option value="" disabled selected>Date</option>
                            <option value="ndate">Newest First</option>
                            <option value="ndate_desc">Oldest First</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                    <button
                        type="button"
                        class="btn btn-secondary btn-sm redirect-button"
                        data-url="@Url.Action("Index")">
                        Reset
                    </button>
                </div>
            </form>
            <div class="d-flex flex-grow-1 search-notes">
                <div class="form-outline w-100">
                    <input type="search" id="Searchh" class="form-control" placeholder="Search..."/>
                </div>
            </div>
        </div>
        <div class="table-responsive list-note" >
            <table class="table table-hover table-striped align-middle" id="notes-table">
                <thead class="table-lightfix sticky-top bg-white">
                    <tr>
                        <th class="@ViewHelpers.GetHeaderClass(ViewData["SortOrder"]?.ToString(), "note")">
                            <a asp-action="Details" asp-route-sortOrder="@ViewData["NoteSortParm"]"
                               class="text-decoration-none text-dark">
                                Note <i class="@ViewHelpers.GetSortIcon(ViewData["SortOrder"]?.ToString(), "note")"></i>
                            </a>
                        </th>
                        <th class="@ViewHelpers.GetHeaderClass(ViewData["SortOrder"]?.ToString(), "date")">
                            <a asp-action="Details" asp-route-sortOrder="@ViewData["DateSortParm"]"
                               class="text-decoration-none text-dark">
                                Date <i class="@ViewHelpers.GetSortIcon(ViewData["SortOrder"]?.ToString(), "date")"></i>
                            </a>
                        </th>
                        <th class="@ViewHelpers.GetHeaderClass(ViewData["SortOrder"]?.ToString(), "type")">
                            <a asp-action="Details" asp-route-sortOrder="@ViewData["TypeSortParm"]"
                               class="text-decoration-none text-dark">
                                Type <i class="@ViewHelpers.GetSortIcon(ViewData["SortOrder"]?.ToString(), "type")"></i>
                            </a>
                        </th>
                        <th class="@ViewHelpers.GetHeaderClass(ViewData["SortOrder"]?.ToString(), "author")">
                            <a asp-action="Details" asp-route-sortOrder="@ViewData["AuthorSortParm"]"
                               class="text-decoration-none text-dark">
                                Author <i class="@ViewHelpers.GetSortIcon(ViewData["SortOrder"]?.ToString(), "author")"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var note in Model)
                        {
                            <tr>
                                <td class="alarm-note">
                                    <a asp-controller="Note" asp-action="Details" asp-route-id="@note.Id">@note.Title</a>
                                </td>
                                <td>@note.CreatedAt.ToString("dd-MM-yyyy HH:mm")</td>
                                <td>
                                    <span
                                        class="@ViewHelpers.GetIsSolutionIcon(@note.IsSolution)">@ViewHelpers.GetIsSolutionText(@note.IsSolution)</span>
                                </td>
                                <td>@note.Author.LastName @note.Author.FirstName</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-secondary text-center" role="alert">
                                    No notes written.
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>