@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - UITManagerWebServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/UITManagerWebServer.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm py-3">
        <div class="container-fluid">
            <a class="navbar-brand text-xl" asp-area="" asp-controller="Home" asp-action="Index">UITManager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Alarm" ? "active-link" : "") text-fs-1"
                               asp-area="" asp-controller="Alarm" asp-action="Index">
                                Alarms
                            </a>
                        </li>

                        <li class="nav-item me-3">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Machine" ? "active-link" : "") text-fs-1"
                               asp-area="" asp-controller="Machine" asp-action="Index">
                                Inventory
                            </a>
                        </li>
                        
                        <li class="nav-item me-3">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Notes" ? "active-link" : "") text-fs-1"
                               asp-area="" asp-controller="Note" asp-action="Index">
                                Notes
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            @if (User.IsInRole("ITDirector") || User.IsInRole("MaintenanceManager")){
                                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "AlarmSettings" ? "active-link" : "") text-fs-1"
                                   asp-area="" asp-controller="AlarmSettings" asp-action="Index">
                                    Alarm Settings
                                </a>
                            }
                        </li>
                        <li class="nav-item me-3">
                            @if (User.IsInRole("ITDirector")){
                                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "User" ? "active-link" : "") text-fs-1"
                                   asp-area="" asp-controller="User" asp-action="Index">
                                    Employees
                                </a>
                            }
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>


<main role="main" class="pb-3">
    @RenderBody()
</main>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - UITManagerWebServer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/chartjs/chart.js"></script>
<script src="~/chartjs/chart.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>