@using UITManagerWebServer.Controllers
@using UITManagerWebServer.Helpers
@model MachineController.DetailsViewModel
@functions{
     private void GetSavedSortingAndFilterInfoExcept(string? name)
     {
         if (name != "sortOrder")
         {
             <input type="hidden" name="sortOrder" value="@ViewData["SortOrder"]"/>
         }

         if (name != "authorFilter")
         {
             <input type="hidden" name="authorFilter" value="@ViewData["AuthorFilter"]"/>
         }

         if (name != "solutionFilter")
         {
             <input type="hidden" name="solutionFilter" value="@ViewData["SolutionFilter"]"/>
         }

         if (name != "typeFilter")
         {
             <input type="hidden" name="typeFilter" value="@ViewData["TypeFilter"]"/>
         }

         if (name != "noteDateFilter")
         {
             <input type="hidden" name="noteDateFilter" value="@ViewData["SortOrderNote"]"/>
         }
        
         <input type="hidden" name="id" value="@Model.Id"/>
        
     }
     
     string GetIsSolutionIcon(bool sol)
     {
         return sol ? "badge bg-success" : "badge bg-secondary";
     }

     string GetIsSolutionText(bool sol)
     {
         return sol ? "Solution" : "Follow-Up Note";
     }
}
<div class="card mb-4">
    <div class="card-header">
        <h5 class="card-title mb-4 d-flex justify-content-between align-items-center">
            <span>Notes</span>
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                    data-bs-target="#notesModal">
                <i class="bi bi-info-circle"></i>
            </button>
            <form method="get" class="d-flex flex-wrap gap-3 p-3 align-items-center justify-content-start">
                
                <!-- Filter machine notes -->
                <div class="d-flex ms-auto flex-wrap">
                    <div class="d-flex align-items-center text-muted fs-6" style="margin-right: 10px;">
                        <span>Filter</span>
                        <span class="ms-1">by</span>
                    </div>
                    <div class="dropdown me-2 mb-2 mb-md-0">
                        <select asp-for="@ViewData["SolutionFilter"]" 
                                name="SolutionFilter"
                                class="form-select form-select-sm" 
                                >
                            <option value="" disabled selected>Note Type</option>
                            <option value="all">All</option>
                            <option value="true">Solution</option>
                            <option value="false">Follow-up</option>
                        </select>
                    </div>

                    <div class="dropdown me-2 mb-2 mb-md-0">
                        <select asp-for="@ViewData["AuthorFilter"]"
                                name="AuthorFilter"
                                class="form-select form-select-sm">
                            <option value="" disabled selected>Author</option>
                            <option value="all">All Authors</option>
                            @foreach (var author in ViewBag.Authors)
                            {
                                <option value="@author.Id">
                                    @author.LastName @author.FirstName
                                </option>
                            }
                        </select>
                    </div>
                    <div class="dropdown me-2 mb-2 mb-md-0">
                        <select asp-for="@ViewData["SortOrderNote"]" 
                                name="noteDateFilter"
                                class="form-select form-select-sm">
                            
                            <option value="" disabled selected>Date</option>
                            <option value="ndate">Newest First</option>
                            <option value="ndate_desc">Oldest First</option>
                        </select>
                    </div>
                    @{
                        GetSavedSortingAndFilterInfoExcept("noteDateFilter");
                    }

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary btn-sm">
                            Filter
                        </button>
                        <a href="@Url.Action("Details")" class="btn btn-secondary btn-sm">
                            Reset
                        </a>
                    </div>
                </div>
            </form>
        </h5>
    </div>
    <div class="card-body">
        <div class="list-group list-group-flush">
            @if (Model.AnyNote)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tbody>
                        @foreach (var note in Model.Notes)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <p class="mb-1">
                                                <a asp-controller="Note" asp-action="Details" asp-route-id="@note.Id"
                                                   class="text-primary text-decoration-none text-truncate"
                                                   style="display: block; max-width: 500px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    @note.Title
                                                </a>
                                            </p>
                                            <small class="text-muted">Author: @note.Author on @note.Date.ToString("dd-MM-yyyy HH:mm")</small>
                                        </div>
                                        <span class="@ViewHelpers.GetIsSolutionIcon(note.IsSolution)">@GetIsSolutionText(note.IsSolution)</span>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="list-group-item text-center">
                    <div class="alert alert-secondary" role="alert">
                        No notes written.
                    </div>
                </div>
            }
        </div>
    </div>
</div>