@using UITManagerWebServer.Controllers
@model MachineController.DetailsViewModel
@{
    List<MachineController.ComponentsViewModel> informations = Model.Informations;
    List<MachineController.ComponentsViewModel> informationsSorted = informations
        .OrderByDescending(n => n.Name.Equals("Tag Service"))
        .ThenBy(n => n.Name)
        .ToList();
}

@functions



{
    private string FormatUptime(string uptimeValue)
    {
        if (TimeSpan.TryParse(uptimeValue, out TimeSpan uptime))
        {
            int totalDays = uptime.Days;
            int years = totalDays / 365;
            totalDays %= 365;
            int months = totalDays / 30;
            int days = totalDays % 30;

            int hours = uptime.Hours;
            int minutes = uptime.Minutes;
            int seconds = uptime.Seconds;

            return $"{(years > 0 ? $"{years} year{(years > 1 ? "s" : "")} " : "")}" +
                   $"{(months > 0 ? $"{months} month{(months > 1 ? "s" : "")} " : "")}" +
                   $"{(days > 0 ? $"{days} day{(days > 1 ? "s" : "")} " : "")}" +
                   $"{(hours > 0 ? $"{hours} hour{(hours > 1 ? "s" : "")} " : "")}" +
                   $"{(minutes > 0 ? $"{minutes} minute{(minutes > 1 ? "s" : "")} " : "")}" +
                   $"{(seconds > 0 ? $"{seconds} second{(seconds > 1 ? "s" : "")}" : "")}".Trim();
        }

        Console.WriteLine(uptimeValue);
        return uptimeValue;
    }

    private void RenderInformation(MachineController.ComponentsViewModel info, string parentAccordionId)
    {
        string accordionId = $"accordion-{info.id}";
        string collapseId = $"collapse-{info.id}";
        string headingId = $"heading-{info.id}";
        <div class="accordion-item">
            @if (!info.Children.Any())
            {
             <div class="p-3 ps-4" id="@headingId">
                    <div class="w-100">
                        @if (!info.Format.Equals("TEXT") && !info.Format.Equals("Null"))
                        {
                            double number = 0;
                            @if (double.TryParse(info.Value, out number))
                            {
                                <span><strong>@info.Name</strong> @number.ToString("0.##") @info.Format</span>
                            }
                        }
                        else if (info.Name.Equals("UpTime"))
                        {
                            <span><strong>@info.Name</strong> @FormatUptime(info.Value)</span>
                        }
                        else
                        {
                            <span><strong>@info.Name</strong> @info.Value</span>
                        }
                    </div>
                </div>
            }
            else
            {
                if (info.Name.Equals("User"))
                {
                    <div class="p-3 ps-4" id="@headingId">
                        <div class="w-100">
                            <span>@info.Children.Find(n => n.Name.Equals("User Name"))?.Value
                                (@info.Children.Find(n => n.Name.Equals("User Scope"))?.Value.ToUpper())</span>
                        </div>
                    </div>
                }
                else if (info.Name.Equals("Disks"))
                {
                    <div class="p-3 ps-4" id="@headingId">
                        <div class="w-100">
                            @foreach (var subinfo in info.Children)
                            {
                            RenderInformation(subinfo, accordionId);
                            }
                        </div>
                    </div>
                }
                else if (info.Name.Equals("OS"))
                {
                    <div class="p-3 ps-4" id="@headingId">
                        <div class="w-100">
                            <span>
                                <strong>@info.Name</strong>
                                @foreach (MachineController.ComponentsViewModel i in info.Children)
                                {
                                    @($" {i.Value} ")
                                }
                            </span>
                        </div>
                    </div>
                }
                else
                {
                    <h2 class="accordion-header ps-1" id="@headingId">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                            @if (info.Name.Equals("Ram")) {
                                <span><strong>RAM</strong></span>
    
                            } else if (info.Name.Equals("List Disk")) {
                                <span><strong>Disks</strong></span>
                            } else if (info.Name.Equals("Users List")) {
                                <span><strong>Users</strong></span>
                            }
                            else {
                                <span><strong>@info.Name</strong></span>
                            }
                        </button>
                    </h2>

                    <div id="@collapseId" class="accordion-collapse collapse" aria-labelledby="@headingId"
                         data-bs-parent="#@parentAccordionId">
                        <div class="accordion-body">
                            <div class="accordion" id="@accordionId">

                                @foreach (var subInfo in info.Children)
                                {
                                    RenderInformation(subInfo, accordionId);
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
}

<div id="accordion">
    <div class="card">
        <div class="accordion" id="informationAccordion">
            <div class="card-header">
                <h3 class="mb-0 d-flex justify-content-between h-100">
                    <span class="btn btn-light font-weight-bold"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne">
                        <strong>
                            Machine Information
                        </strong>
                    </span>
                </h3>
            </div>
            @foreach (MachineController.ComponentsViewModel info in informationsSorted)
            {
                RenderInformation(info, "informationAccordion");
            }
        </div>
    </div>
</div>
