@model UITManagerWebServer.Models.Alarm
@{
    var userIsAuthorized = User.IsInRole("ITDirector") || User.IsInRole("MaintenanceManager");
    var latestSeverityHistory = Model.NormGroup.SeverityHistories
        .OrderByDescending(sh => sh.UpdateDate)
        .FirstOrDefault();
    
    var latestSeverityName = latestSeverityHistory?.Severity?.Name;
    
    var latestStatusHistory = Model.AlarmHistories
        .OrderByDescending(sh => sh.ModificationDate)
        .FirstOrDefault();
}

@functions {

    string GetSeveryticolor(string currentSeverity)
    {
        return currentSeverity switch
        {
            "Critical" => "text-danger",
            "High" => "text-High",
            "Medium" => "text-warning",
            "Low" => "text-low",
            "Warning" => "text-secondary",
            _ => "text-secondary",
        };
    }

}

<div class="card rounded mb-0 p-1">
    <div class="card-header fw-bold d-flex justify-content-between align-items-center mb-2" style="height: 50px;">
        <span>Alarm Information</span>
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#infoModal">
            <i class="bi bi-info-circle"></i>
        </button>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <div class="card shadow-lg rounded border-3 border-primary">
                <div class="card-body m-2 p-1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex flex-column">
                                <p class="mb-0 fw-bold">Alarm</p>
                                <div class="text-muted">
                                    @Model.NormGroup.Name
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-1">
                            <div class="d-flex flex-column">
                                <p class="mb-0 fw-bold">Alarm severity</p>
                                <div class="text-muted">
                                    <div class="@GetSeveryticolor(@latestSeverityName)">
                                        @latestSeverityName
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-1">
                            <div class="d-flex flex-column">
                                <p class="mb-0 fw-bold">Triggered date</p>
                                <div class="text-muted">
                                    <div>@Model.TriggeredAt.ToString("dd-MM-yyyy HH:mm")</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-column">
                                <label for="AlarmStatus"><strong>Status</strong></label>
                                @if (userIsAuthorized)
                                {
                                    <select id="AlarmStatus" name="AlarmStatus" style="max-width: 300px"
                                            class="form-select form-select-sm"
                                            onchange="updateAlarmStatus(@Model.Id, this.value)">
                                        @foreach (var status in ViewData["AlarmStatusTypes"] as List<AlarmStatusType>)
                                        {
                                            if (latestStatusHistory.StatusType != null && status.Id == latestStatusHistory.StatusType.Id)
                                            {
                                                <option selected value="@status.Name">
                                                    @status.Name
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@status.Name">
                                                    @status.Name
                                                </option>
                                            }

                                            <option disabled class="text-secondary fst-italic fw-light"
                                                    label="">@status.Description</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <div class="fw-bold text-muted">@latestStatusHistory.StatusType.Name</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded h-100">
                <div class="card-header fw-bold d-flex align-items-center">
                    Machine Concerned
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div class="d-flex mb-2 align-items-center">
                            <p class="mb-0 fw-bold me-2">Machine name</p>
                            <div class="text-muted">
                                @Model.Machine.Name
                            </div>
                        </div>
                        <div class="d-flex mb-2 align-items-center">
                            <p class="mb-0 fw-bold me-2">Machine service tag</p>
                            <div class="text-muted">
                                @Model.Machine.GetInformationValueByName("Tag Service")
                            </div>
                        </div>
                        <div class="d-flex mb-2 align-items-center">
                            <p class="mb-0 fw-bold me-2">Machine last seen</p>
                            <div class="text-muted">
                                @Model.Machine.LastSeen
                            </div>
                        </div>
                        <div class="d-flex mb-1 align-items-center">
                            <p class="mb-0 fw-bold me-2">Machine State</p>
                            <div class="mt-1">
                                @if (Model.Machine.IsWorking)
                                {
                                    <span class="text-success">Working</span>
                                }
                                else
                                {
                                    <span class="text-danger">Not working</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded h-100">
                <div class="card-header fw-bold d-flex align-items-center">
                    Informations
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-column">
                            <p class="mb-0 fw-bold">Concerned Alarm</p>
                            <div class="text-muted mt-1">
                                @Model.NormGroup.Name
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="mb-0 fw-bold">Occurrences</p>
                            <div class="d-flex align-items-center mt-1">
                                <p class="text-muted mb-0 me-2">On all machines</p>
                                <div class="badge bg-primary badge-sm">
                                    @ViewData["AlarmCountAll"]
                                </div>
                            </div>
                            <div class="d-flex align-items-center mt-1">
                                <p class="text-muted mb-0 me-2">On this machine</p>
                                <div class="badge bg-primary badge-sm">
                                    @ViewData["AlarmCount"]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Total Occurrences: alarms of the same type triggered on this all machines.</p>
                    <p>Machine Occurrences: alarms of the same type triggered on this machine.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
